.main {
  margin: 3%;
  padding: 3%;
}
#button1 {
  padding: 1%;
  margin-top: 4%;
  background-color: lightblue;
}
#username {
  margin-left: 10%;
  margin-top: 3%;
  padding: 1%;
}
#password {
  margin-left: 10%;
  margin-top: 3%;
  padding: 1%;
}
